.post {
    font-size: 100%;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
            "Liberation Mono", "Courier New", monospace;
        font-weight: bold;
    }

    h1,
    h2,
    h3 {
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: inherit;
        z-index: 1;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0.07em;
            height: 0.4em;
            width: 100%;
            background: linear-gradient(
                110deg,
                #1f5d5c,
                #141e5b,
                #441c50,
                #5e1935,
                #5b3220,
                #536028
            );
            z-index: -1;
            transition: height 0.25s cubic-bezier(0.6, 0, 0.4, 1);
        }
    }

    h1 {
        font-size: 260%;
        margin-top: 0.2em;
        margin-bottom: 0.5em;
    }

    h2 {
        font-size: 240%;
        margin-top: 0.2em;
        margin-bottom: 0.3em;
    }

    h3 {
        font-size: 220%;
        margin-bottom: 0.2em;
    }

    h4 {
        font-size: 200%;
        margin-bottom: 0.1em;
    }

    strong {
        background: linear-gradient(110deg, #359c9b, #923dac, #be316a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    blockquote {
        margin: 1em 0;
        padding: 1em;
        border-style: solid;
        border-width: 10px;
        border-image: linear-gradient(
                110deg,
                #1f5d5c,
                #141e5b,
                #441c50,
                #5e1935,
                #5b3220,
                #536028
            )
            1;
    }

    ol,
    ul {
        list-style: square;
        padding: inherit;
        margin: inherit;
    }

    ol {
        list-style: auto;
    }
}
